* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-size: 1.6rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif;
}

h1 {
  font-size: 6rem;
  text-transform: uppercase;
}

h2 {
  font-size: 6rem;
  margin-bottom: 5rem;
  text-transform: uppercase;
  line-height: 1.2;
}

h3 {
  font-size: 5rem;
}

h4 {
  font-size: 4.5rem;
}

h5 {
  font-size: 4rem;
}

h6 {
  font-size: 3.5rem;
}

a {
  text-decoration: none;
}

.menu {
  background-color: lightgrey;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vh;
}

.menu-navbar {
  width: 50%;
}

.menu-navbar-content {
  list-style-type: none;
  display: flex;
  justify-content: space-evenly;
  flex-flow: row wrap;
}

.hero {
  min-height: 100vh;
  background-color: dimgrey;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
